@{
    ViewBag.Title = "About";
    ViewBag.Message = "Assignment 4 by Thai Hoa Huynh";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an educational project for the Fall 2022's WEB524 course.</p>