@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Student Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Full Name: Thai Hoa Huynh<br />
    <abbr title="Student ID">ID:</abbr>
    114968191
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:thhuynh7@myseneca.ca">thhuynh7@myseneca.ca</a><br />
</address>