@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This web app implements an authentication method for Individual User Accounts</p>
    <p><a href="https://thhuynh7-wa-web524-a4.azurewebsites.net/" class="btn btn-primary btn-lg">View My Assignment 4 Web App&raquo;</a></p>
</div>

