<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/89c7fc9c-0fec-437a-a5e2-4e16f475e558/resourceGroups/WEB524/providers/Microsoft.Web/sites/thhuynh7-wa-web524-a4</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thhuynh7-wa-web524-a4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thhuynh7-wa-web524-a4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thhuynh7-wa-web524-a4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$thhuynh7-wa-web524-a4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:thhuynh7-ds-web524.database.windows.net,1433;Initial Catalog=thhuynh7-db-web524-a4;Persist Security Info=False;User ID=thhuynh7;Password=tamgiac.xanhbienJ0+;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:thhuynh7-ds-web524.database.windows.net,1433;Initial Catalog=thhuynh7-db-web524-a4;Persist Security Info=False;User ID=thhuynh7;Password=tamgiac.xanhbienJ0+;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="S2022A4THH.Models.ApplicationDbContext, S2022A4THH" MigrationConfiguration="S2022A4THH.Migrations.Configuration, S2022A4THH" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:thhuynh7-ds-web524.database.windows.net,1433;Initial Catalog=thhuynh7-db-web524-a4;Persist Security Info=False;User ID=thhuynh7;Password=tamgiac.xanhbienJ0+;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>